body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,
dt,dd,ul,ol,li,pre,form,fieldset,legend,button,
input,textarea,th,td
{
        margin: 0px;
        padding: 0px;
}
#header
{
    background: ("images/headerbg.png") repeat-x scroll #FFFFFF;
    height: 105px;
}
#header.conWidth
{
    position: relative;
    height: 105px;
    width: 990px;
    margin: 0 auto;
    z-index: 100;
}
    