*
{
    padding: 0px;
    margin: 0px;
}
#one
{
    width: 1000px;
    height: 550px;
    margin: 0 auto;
    margin-top: 20px;
    background: #D4CED3;
}
#content
{
    height: 38%;
}
p
{
    padding: 5px;
    font-size: 15px;
}
#textarea
{
    width: 90%;
    height: 60%;
    display: block;
    margin: 0 auto;
}
#textarea:focus
{
    background-color:#F5F1F1;
    border: 2px solid #22A8C7;
}
#button
{
    margin: 12px;
    float: right;
    
}
#header
{
    width: 90%;
    height: 40%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid black;
    background: #F5F1F1;
    
}